* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
} 

:root {
    --primary-color: #33a112;
    --secondary-color:  #3acabb;
    --complementary-color: #fff;
}

body { 
    min-height: 100vh;
    max-width: 2060px;
    overflow: scroll;
} 

.header { 
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    padding: 20px 100px;
    background-color: white; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    z-index: 100; 
    box-shadow: 0px 0px 5px 0px; 

}

.logo { 
    font-size: 2rem; 
    color: var(--secondary-color);
    text-decoration: none; 
    font-weight: 600; 
    font-family: 'Ubuntu', sans-serif;
} 

.toggler {
    opacity: 0;
}

.nav-link a { 
    position: relative; 
    font-size: 16px; 
    color: #000; 
    text-decoration: none; 
    font-weight: 250px; 
    margin-left: 15px; 
    font-family: 'Open-Sans', sans-serif;
} 

.nav-link a::before { 
    content: ''; 
    position: absolute; 
    top: 100%;
    left: 0; 
    width: 0; 
    height: 2px; 
    background-color: var(--primary-color);
    transition: .3s;
 }

 .nav-link a:hover { 
    color: var(--secondary-color); 
 }

 .nav-link a:hover::before { 
    width: 100%;
 } 
 
 main#main-header { 
    margin-top: 5px;
    margin-bottom: -775px;
    padding: 10px 100px;
    text-align: justify;
    background-color: beige;
 } 

div.hero {
    margin-left: 60px;
    width: 100%;
}

 .hero h1 { 
    font-size: 9rem; 
    color: var(--secondary-color); 
    font-weight: 600; 
    font-family: 'Ubuntu', sans-serif; 
 }

 .hero h3 { 
    font-size: 1.5rem; 
    color: var(--primary-color); 
    font-weight: 600; 
    font-family: 'Ubuntu', sans-serif; 
    margin-top: 7px;
    margin-left: 30px;
 }

 .hero-h1, .hero-h3 { 
    position: relative;
    top: 120px;
    left: -80px;
    text-align: justify;
 }

img#hero-img { 
    width: 600px; 
    height: 100%; 
    object-fit: cover; 
    border-radius: 10px;
    display: block;
    box-shadow: 0px 0px 8px 0px;
    margin-left: 215px; 
} 

.hero-disc {
    position: absolute;
    top: 735px;
    left: 110px;
    font-family: 'Open-Sans', sans-serif;
    font-size: medium;
    color: var(--secondary-color);
}

.food1 {
    width: 520px;
    position: relative;
    top: -530px;
    left: 700px;
    z-index: 3;
}

.travel2 {
    width: 550px;
    position: relative;
    top: -540px;
    left: 1110px;
    z-index: 2;
}

.yoga1 {
    width: 600px;
    position: relative;
    top: -910px;
    left: 549px;
    z-index: 1;
}

.hero-btn {
    position: relative;
    top: 200px;
    left: 30px; 
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    font-family: 'Open-Sans', sans-serif;
    transition: .3s ease-in-out;
    z-index: 1;
}

.blog-btn {
    background-color: #000;
    color: #fff;
}

.blog-btn:hover {
    background-color: var(--secondary-color);
    color: #fff;
    box-shadow: 0 0 5px 0 var(--secondary-color);
}

.sub-btn {
    background-color: #000;
    color: #fff;
}

.sub-btn:hover {
    background-color: var(--primary-color);
    color: #fff;
    box-shadow: 0 0 5px 0 var(--primary-color);
}

hr {
    background-color: #fff;
}

section.yoga-section {
    height: 1275px;
    margin-top: -2px ;
    padding: 10px 100px 10px;
    background-color: var(--secondary-color);
    position: relative;
    text-align: center;  
    border-radius: 10px;
}

div.yoga-container {
    position: relative;
    top: -600px;
    left: -40px;
}

.yoga-img {
    width: 1300px;
    position: relative;
    top: 700px;
    left: -300px;
    border-radius: 10px;
}

.h2-1 {
    font-size: 6rem;
    color: var(--complementary-color);
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
    text-align: right;
    position: relative;
    left: 50px;
    top: -235px;
}

.h2-1 span{
    color: var(--primary-color);
    font-size: 8rem;
}

span.peace {
    color: beige;
    font-size: 8rem;
}

section.travel-section {
    width: 100%;
    height: 90vh;
    margin-top: -100px;
    background: linear-gradient(80deg, var(--primary-color), beige);
    background-size: 400% 400%;
    animation: gradient 8s ease-in-out infinite;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 65%;
    }
}

article.travel-art-label {
    height: 560px;
    width: 500px;
    border: 5px solid black;
    display: inline-block;
    position: relative;
    top: 180px;
    left: 210px;
    border-radius: 15px;
    box-shadow: 25px 25px 20px 0;
    background-color: beige;
    font-family: 'open-sans', sans-serif;
}

.flex {
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center; 
}

.h2-trav {
    font-size: 3rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    margin-left: 6px;
} 

h2.places {
    margin-right: 125px;
}

ul li {
    width: 75%;
    margin-bottom: 20px;
    margin-top: 30px;
    padding: 25px 20px;
    list-style-type: none;
    font-family: 'Open-Sans', sans-serif;
    font-size: 1rem;
    font-weight: 700;
}

.travel-with, .travel-way {
    margin-top: 5px;
    margin-bottom: 22.5px;
}

.travel-need, .travel-supply {
    margin-top: 47.5px;
}

.list {
    margin-bottom: 45px;
}

li.travel-list {
    margin-top: 25px;
    margin-bottom: -25px;
}

.list-p {
    font-size:  16px;
    font-style: italic;
}

h3.h3-travel {
    width: 1700px;
    position: relative;
    top: 650px;
    left: -480px;
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 800;
    color: #fff;
} 

.travel-span {
    font-style: italic;
    font-size: 3rem;
    margin-left: 25px;
    color: var(--secondary-color);
}

button.travel-mit, .travel-scribe {
    position: absolute;
    top: 690px;
    left: -396px;
    width: 80px 160px;
    padding: 15px 30px;
}

button.travel-mit {
    margin-left: 100px;    
}

button.travel-scribe {
    margin-left: -50px;
}

section.healthy-recipes {
    width: 100%;
    height: 35vh;
}

table {
    margin-top: 2%;
    margin-left: 1%;
    width: 65%;
    font-family: 'open-sans',sans-serif;
}

h2#healthy-h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5em;
    position: relative;
    top: 15px;
    left: 20px
}

.table-head, .table-data {
    border:  2px solid #0a0a23;
    padding: 10px 5px;
    border-radius: 4px;
}

.table-head {
    background-color: var(--secondary-color);
    color: #fff;
    font-weight: 700;
    font-size: 1.2em;
    box-shadow: 0 0 2px 0 black;
}

td.table-data {
    background-color: #fff;
}

h3#healthy-h3 {
    display: flex;
    justify-content: flex-end;
    margin-right:  100px;
    margin-top: -250px;
    font-family: 'open-sans', sans-serif;
    font-size: 2rem;
}

#healthy-h4 {
    display: flex;
    justify-content: flex-end;
    font-family: 'open-sans', sans-serif;
    font-size: 15px;
    font-style: italic;
    position: relative;
    left: -55px;
    top: 25px;
    color: var(--primary-color);
}

span.one {
    padding: 0 4px;
    font-size: 15px;
    color: red;
}

span.read {
    position: relative;
    left: -260px;
    top: 20px;
    color: red;
}

button.recipe-mit, .recipe-scribe {
   position: relative;
   left: 1530px;
   top: 70px;
}

.footer-menu,.site-footer {
    background-color: #222;
    color: #fff;
    padding: 5px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
}

.copyright {
    position: relative;
    top: 30px;
    font-size: 1rem;
    font-family: 'open-sans',sans-serif;
}


.anchor-foot {
    display: flex;
    justify-content: center;
    width: 1400px;
    position: relative;
    top: 53px;
    left: 95px;
    font-family: 'open-sans', sans-serif;
}

.foot {
    padding: 10px;
    text-decoration: none;
    color: #fff;
    margin-left: 5px;
}

.float {
    width: 60%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.footer-h2 {
    margin-bottom: 15px;
    font-size: 2rem;
    font-family: 'Ubuntu',sans-serif;
}

.footer-p {
    font-size: 1rem;
    font-family: 'open-sans', sans-serif;
}

.footer-h4 {
    font-size: 1.2em;
    padding-right: 25px;
    text-align: center;
}

.footer-social {
    display: flex;
    flex-direction: row;
}

.social-icon {
    padding: 25px;
    color: #fff;
    text-decoration: none;
    position: relative;
    top: -15px;
    left: 25px;
}

.footer-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    padding: 0px 20px;
    position: relative;
    top: 65px;
    right: -360px;
    font-family: 'Ubuntu',sans-serif;
}
