* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
} 

body { 
    min-height: 100vh;
    background-color: rgb(225,189,179); 
} 

.header { 
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    padding: 20px 100px;
    background-color: black; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    z-index: 100; 
    box-shadow: 0px 0px 5px 0px; 

} .logo { 
    font-size: 2rem; 
    color: #fff; 
    text-decoration: none; 
    font-weight: 600; 
} 

.nav-link a { 
    position: relative; 
    font-size: 16px; 
    color: #fff; 
    text-decoration: none; 
    font-weight: 250px; 
    margin-left: 15px; 
} 

.nav-link a::before { 
    content: ''; 
    position: absolute; 
    top: 100%;
    left: 0; 
    width: 0; 
    height: 2px; 
    background: #fff; 
    transition: .3s;
 }
 
 .nav-link a:hover::before { 
    width: 100%;
 } 
 
 .hero { 
    margin-top: 120px;
 } 
 
 .hero-h1 { 
    text-align: center;
     color: white; 
} 

.hero-img { 
    padding: 100; 
    margin-left: 120px; 
    margin-top: 20px; 
    border: 2px solid white; 
    box-shadow: 0 0 10px 0;
 } 
 
 .hero-h3 { 
    margin: 18px; 
    color: red; 
    font-size: 14px; 
    text-align: center; 
} 

.prevent { 
    text-align: center; 
    margin-bottom: 20px;
 }
 
 .grid-container { 
    display: inline-grid; 
    grid-template-columns: 45px 250px; 
    column-gap: -10px; 
    grid-template-rows: 1fr 1fr; 
    margin-top: 2px; 
    margin-left: 14px; 
    font-size: 14px;
 } 
 
 footer { 
    background-color: black; 
    color: white; 
    margin-top: -100px; 
} 